1056 ICON "openalias.ico"
1 VERSIONINFO
FILEVERSION    FILE_VERSION_COMMAS
PRODUCTVERSION FILE_VERSION_COMMAS
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "nabijaczleweli"
      VALUE "FileDescription", "openalias.rs - Look up and parse OpenAlias data"
      VALUE "FileVersion", FILE_VERSION_STRING
      VALUE "InternalName", "openalias.rs"
      VALUE "LegalCopyright", "nabijaczleweli"
      VALUE "OriginalFilename", "openalias.exe"
      VALUE "ProductName", "openalias.rs"
      VALUE "ProductVersion", FILE_VERSION_STRING
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0809, 1252
  END
END
